.label {
    -fx-text-fill: #FFFFFF;
    /*-fx-background-image: url("1.png");*/
}
.split-pane {
    -fx-background-image: url("界面背景图.png");
}

.table-view {
    -fx-background-color: transparent;
}
.table-view .column-header {
    -fx-background-image: url("界面背景图.png");
    /*-fx-background-color:	#FFFFFF;*/
}

.button {
    -fx-background-color: rgba(148, 164, 175, 0.66);
}